@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  color: darkslategray;
  background: lightgray;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  padding: 8px;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: rgb(211, 255, 248);
  padding: 2rem;
  border-radius: 20px;
  margin-top: 2rem;
}


footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(165, 42, 42, 0.377);
  box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.281);
  border-top: 1px solid rgba(165, 42, 42, 0.377);
}