body {
  margin: 0;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  padding: 8px;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: grey;
  padding: 2rem;
  border-radius: 20px;
  margin-top: 2rem;
}